/* Import fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*----------- Special settings */
body {
    background-color: rgb(189, 157, 132);
    font-family: "Roboto", Sans-serif;
    color: rgb(60, 63, 54); 
}

i.fa.fa-copyright {
    color: rgb(60, 63, 54);
}

.text-black {
    color: rgb(60, 63, 54);
}

/* -------- Carousel styling ----*/

div.carousel.slide {
    margin: 0.3%;
    border: 1px solid rgb(60, 63, 54);
    border-radius: 5px;
    height: 30%;

}

.carousel-caption {
    margin-bottom: 40%;
}

.carousel-inner {
    border-radius: 5px; 
}

/*---------- Index page */

h1.header-settings {
    text-align: center;
    background-color: rgb(60, 63, 54);
    color: rgb(189, 157, 132);
    height: 75px;
    padding-top: 1%;
}

/*------------------ Footer ----- */ 

h2.panel-title {
    text-align: center;
    background-color: rgb(60, 63, 54);
    color: rgb(189, 157, 132);
    height: 75px;
    padding-top: 1.5%;
}

div.col-sm-12.col-md-6 {
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
    padding-top: 5%;
    padding-bottom: 5%;
}

/*------------ Icon Styling --*/

i.fas.fa-plus-circle,
i.fas.fa-minus-circle {
    color: rgb(60, 63, 54);
}

/*---------- Button styling --*/

.btn-color {
    background-color: rgb(60, 63, 54);
    color: white;
}

/*------------ Styling toasts ----*/

.message-container {
    position: fixed;
    top: 70px;
    right: 20px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 3px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
