{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
	<div class="col-12">
		<div class="row row-flex">
            {% for course in courses %}
				<div class="col-sm-12 col-lg-4">
					<div class="card">
                        {% if course.image %}
						    <img class="card-img-top img-fluid" src="{{ course.image.url }}" alt="{{ course.name }}">
                        {% else %}
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ course.name }}">
                        {% endif %}
						<div class="card-body align-content=center">
							<h5 class="card-title">{{ course.name }}</h5>
							<p>{{ course.duration }}</p>
                            <p>{{ course.coursedate }}</p>
                            <p>{{ course.coursetime }}</p>
                            <p class="product-description">{{ course.description }}</p>
                            <p>{{ course.price }}</p>
                            <a href="ash-vin.html" class="form-text text-muted">Les Mer</a>
							<form method="post" action="{% url 'add_to_bag' course.id %}">
                                {% csrf_token %}
                                    <div class="input-group">

                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn rounded-0"
                                                data-item_id="{{ course.id }}" id="decrement-qty_{{ course.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus-circle"></i>
                                                </span>
                                            </button>
                                        </div>

                                        <input name="quantity" type="number" value="1" min="1" max="99" 
                                         class="form-control qty_input" data-item_id="{{ course.id }}"
                                         id="id_qty_{{ course.id }}" placeholder="Antall">


                                       <div class="input-group-append">
                                            <button class="increment-qty btn rounded-0"
                                                data-item_id="{{ course.id }}" id="increment-qty_{{ course.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus-circle"></i>
                                                </span>
                                            </button>
                                        </div>

                                        <span class="input-group-btn">
                                            <button class="btn btn-color" type="submit">Bestille</button>
                                        </span>
                                        
                                    </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
						</div>
					</div>
				</div>
            {% endfor %}
		</div>
	</div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'includes/quantity_input_script.html' %}
{% endblock %}